@font-face {
    font-family: 'SupermercadoOne-Regular';
    font-style: cursive;
    src: url('./font/SupermercadoOne-Regular.ttf');
}

#control-fix {
    margin: 0;
    width: 100%;
}

#ease(@type, @duration: 0.5s) {
    transition: visibility @duration linear, opacity @duration ease-out;
    -webkit-transition: visibility @duration linear, opacity @duration ease-out;
}

.react-video-wrapper {
    position: relative;

    .react-controls-root {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 37px;
        background-color: rgba(0, 0, 0, 0.5);

        &.react-controls-hide {
            visibility: hidden;
            opacity: 0;
            #ease(ease-out);
        }

        &.react-controls-show {
            #ease(ease-in, 0.1s);
        }
        
        button {
            color: white;
            position: relative;
            top: 3px;
        }

        .control-bar {

            .bar-left {
                height: 100%;
                position: absolute;
                left: 0px;
                width: 70%;
                overflow: hidden;
            }

            .bar-right {
                height: 100%;
                position: absolute;
                right: 0px;
            }

            // Volume slider
            .mdl-slider__container {
                display: inline-flex;
                top: 7px;

                .mdl-slider__background-upper {
                    background-color: rgba(255, 255, 255, 0.03);
                }
            }

            button,
            span {
                display: inline-block;
            }

            .time {
                position: relative;
                top: 5px;
                color: rgba(255, 255, 255, 0.7);
                font-family: 'SupermercadoOne-Regular', cursive;
            }

            .volume-button {
                position: relative;
                left: 12px;
            }

            .play-button {
                left: 3px;
                margin-left: 1%;
            }

            .fullscreen-button {
                margin: 0 10px;
            }

            .cast-button {
                visibility: hidden;
            }
        }

        // Playback bar
        > .mdl-slider__container {
            position: absolute;
            top: -8px;
            width: 100%;

            > .mdl-slider__background-flex {
                #control-fix;
            }

            > input {
                #control-fix;
            }
        }
    }
}
