.react-video-wrapper {
    position: relative;

    .react-controls-root {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 40px;
        overflow: none;
        background-color: rgba(0, 0, 0, 0.5);

        button {
            color: white;
        }

        > .mdl-slider__container {
            position: absolute;
            top: 5;
            width: 100%;
        }
    }
}
