@font-face {
    font-family: 'Satisfy';
    font-style: cursive;
    src: url('./font/Satisfy-Regular.ttf');
}

@font-face {
    font-family: 'Indie Flower';
    font-style: cursive;
    src: url('./font/IndieFlower.ttf');
}


@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    src: url('./font/Inconsolata-Regular.ttf');
}

/* Color theme */

@background-color: #303030;
@secondary-color: #424242;
@primary-color: #212121;
@accent-color: black;
@font-color: white;
@hover: #353535;
@click: #515151;

// Page dimensions
// Must also change toolbar height in Toolbar.tsx
@toolbar-height: 30px;

#squarish(@length) {
    height: @length;
    width: @length + 100px;
}

#center-vert(@padding) {
    padding-top: @padding;
    padding-bottom: @padding;
}

#center {
    width: 50%;
    margin: 0 auto; 
}
#indie-flower {
    font-family: 'Indie Flower', cursive;
}
#satisfy {
    font-family: 'Satisfy', cursive;
}

#inconsolata {
    font-family: 'Inconsolata', regular;
}

// Hide cursor class
.hide-cursor {
    cursor: none;
}

// Hide element class
.hidden {
    display: none !important;
}

body {
    #satisfy;

    background-color: @background-color;

    #app {
        height: 100vh;
        width: 100%;
        margin: 0;
        -webkit-app-region: no-drag;
        overflow: hidden;

        .app-core {
            height: 100%;
            width: 100%;
        }
    }

    > input [type='number'] {
        -moz-appearance: textfield;
    }

    button {
        #indie-flower;
        background-color: @background-color;
        width: 100%;
        padding: 5px 20px;
        border-radius: 10px;
        border: 1px solid white;
        color: white;
        font-weight: bold;
    }

    color: white;

    h1 {
        margin: 0px;    
    }
}


