#squarish(@length) {
    height: @length;
    width: @length + 100px;
}

#center-vert(@padding) {
    padding-top: @padding;
    padding-bottom: @padding;
}

#center {
    width: 50%;
    margin: 0 auto; 
}

body {
    .join {
        text-align: center;

    }

    .break {
        text-align: center;
        margin-top: 30px;

        .or {
            font-size: 1.5em;
        }

        .line {
            margin-top: 16px;
            border-top: 1px solid black;
        }
    }

    .host {
        text-align: center;

        .upload-box {
            #squarish(300px);
            position: relative;
            display: block;
            margin: 0 auto;

            border-radius: 10px;
            border: 1px dashed black;
            
            > .upload-here {
                position: relative;
                display: inline-block;
                #center-vert(125px);
            }
        }
    }
}
