@font-face {
    font-family: 'Indie Flower';
    font-style: cursive;
    src: url('./font/IndieFlower.ttf');
}

#indie-flower {
    font-family: 'Indie Flower', cursive;
}

body {
    #indie-flower;

    > input [type='number'] {
        -moz-appearance: textfield;
    }

    > input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*
    When setting the primary font stack, apply it to the Pure grid units along
    with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
    specific font stacks to ensure the greatest OS/browser compatibility.
    */
    html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        #indie-flower;
    }
}


